<section id="video_gallery">
  <% comment do %>
  <div class="video">
    <iframe src="https://player.vimeo.com/video/586172435?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479&amp;h=6bc7bf81c8" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;" title="AnimeBNB"></iframe><script src="https://player.vimeo.com/api/player.js"></script>
  </div>
  <% end %>
<div class="text-block">


  <h2>Tokenomics</h2>
  <hr />
  <div class="col left-col">


    <p>
      TOTAL SUPPLY : <span class="right">1,000,000,000</span>
    </p>
    <p>
      DEVELOPMENT ALLOCATION WALLET: <span class="right">(0%)</span>
    </p>
    <p>
      TOKENS FOR MARKETING WALLET: <span class="right">50,000,000 (5%)</span>
    </p>
    <p>
      TOKEN FAIR LAUNCH ON PANCAKE SWAP AVAILABLE : <span class="right">950,000,000 (95%)</span>
    </p>
  </div>
  <div class="col right-col">
    <p>
      MIN./MAX. HOLDING 1.5 % OF SUPPLY (15 000 000)
    </p>
    <p>
      LIQUIDITY LOCKED FOR 6 MONTHS
    </p>
    <p>
      10% BNB REWARDS 3% to LP WHEN BUYING (13% slippage)
    </p>
    <p>
      12% BNB REWARDS 3.6% LP WHEN SELLING (15.6% slippage)
    </p>
  </div>

  </div>

<div class="card char_01"></div>
<div class="card char_02"></div>
<div class="card char_03"></div>
<div class="card char_04"></div>
<div class="card char_05"></div>

</section>
