<section id="video_gallery">
  <% comment do %>
  <div class="video">
    <iframe src="https://player.vimeo.com/video/586172435?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479&amp;h=6bc7bf81c8" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;" title="AnimeBNB"></iframe><script src="https://player.vimeo.com/api/player.js"></script>
  </div>
  <% end %>
<div class="text-block">


  <h2>Tokenomics</h2>
  <hr />
  <div class="col">


    <p>
      TOTAL SUPPLY : <span class="right">1,000,000,000 ERC 20</span>
    </p>
    <p>
      Fairlaunch
    </p>
    <p>
      SELL TAX: <span class="right">(12%)</span>
    </p>
    <p>
      LIQUIDITY : <span class="right">(8%)</span>
    </p>
    <p>
    MARKETING : <span class="right">(4%)</span>
  </p>
  </div>


  </div>

<div class="card char_01"></div>
<div class="card char_02"></div>
<div class="card char_03"></div>
<div class="card char_04"></div>
<div class="card char_05"></div>

</section>
