<section id="roadmap">
  <h2>Roadmap</h2>
  <hr />
  <div class="col left-col">
    <h3 class="right">Q3 2021</h3>

    <ul>
      <li class="completed">
        ANB Token creation
      </li>
      <li class="completed">
        BSC Testnet "tier 0" verification
      </li>
      <li class="completed">
        Whitpaper published to community
      </li>
      <li class="completed">
         Fair launch $ANB Token on Pancake Swap and Lock Liquidity (6 Months)
      </li>
      <li>
        Apply for Coin Gecko and CMC listing
      </li>
      <li>
         Project Planning for virtual anime archive
      </li>
      <li>
        Website character customization
      </li>
      <li>
         Applying for anime character licensing
      </li>
      <li>
        Apply for major Exchange listing
      </li>
    </ul>
  </div>
  <div class="col right-col">
    <h3 class="right">Q4 2021</h3>
    <ul>
      <li>
        5000 people in telegram
      </li>
      <li>
        LTD Company Incorporation for tax legalities
      </li>
      <li>
        Platform creation for staking and yield farming
      </li>
      <li>
        Platform NTF Minting Aggregator integration into the website
      </li>
      <li>
        Marketplace Implementation into the website
      </li>
      <li>
        Anime Real-estate gaming implementation to the website
      </li>

    </ul>
  </div>
</section>
