<section id="roadmap">
  <h2>Roadmap</h2>
  <hr />
  <div class="col left-col">
    <h3 class="right">Q3 2021</h3>
    <ul>
      <li class="completed">
        Create "tier 0" token
      </li>
      <li class="completed">
        BSC Testnet "tier 0" verification
      </li>
      <li class="completed">
        Whitpaper published to website
      </li>
      <li class="completed">
         Create "tier 1" token
      </li>
      <li class="completed">
        BSC Testnet "tier 1" verification
      </li>
      <li>
         Presale on DXSale
      </li>
      <li>
        Retweet contest .5 BNB giveaway
      </li>
      <li>
         $ANB Pancake swap with 6/mo locked liquidity
      </li>
      <li>
        Annuncement for anime metaverse "Anime Kingdom"
      </li>
      <li>
        Website character customizer
      </li>
      <li>
        Applying anime character licensing
      </li>
      <li>
        GoinGecko listing
      </li>
    </ul>
  </div>
  <div class="col right-col">
    <h3 class="right">Q4 2021</h3>
    <ul>
      <li>
        5000 people in telegram
      </li>
      <li>
        Creating staking and farming pool
      </li>
      <li>
        Creation of anime NFT game minting aggregator integration
      </li>
    </ul>
  </div>
</section>
