<section id="tokenomics">
  <h2>Tokenomics</h2>
  <hr />
  <div class="col left-col">
    <p>
      TOTAL SUPPLY : <span class="right">1,000,000,000</span>
    </p>
    <p>
      DEVELOPMENT ALLOCATION WALLET: <span class="right">12,000,000 (12%)</span>
    </p>
    <p>
      TOKENS FOR MARKETING WALLET: <span class="right">50,000,000 (5%)</span>
    </p>
    <p>
      TOKENS FOR PRESALE : <span class="right">1 BNB = 1,500,000 (1.5%)</span>
    </p>
  </div>
  <div class="col right-col">
    <p>
      Soft Cap : 150 BNB
    </p>
    <p>
      Hard Cap : 300 BNB
    </p>
    <p>
      Presale Rate : 1 500 000 per BNB
    </p>
    <p>
      Min./Max. Contribution : 0.1BNB - 1BNB
    </p>
  </div>
  <div class="row ">
    <p>
      Liquidity Locked: 86% - Unlock Date : 6 months minimum
    </p>
    <p>
      10% bnb 3% LP when buying (13% slippage)
    </p>
    <p>
      12% bnb 3.6% LP when selling (15.6% slippage)
    </p>
</div>
</section>
