<section id="tokenomics">
  <h2>Tokenomics</h2>
  <hr />
  <div class="col left-col">


    <p>
      TOTAL SUPPLY : <span class="right">1,000,000,000</span>
    </p>
    <p>
      DEVELOPMENT ALLOCATION WALLET: <span class="right">(0%)</span>
    </p>
    <p>
      TOKENS FOR MARKETING WALLET: <span class="right">50,000,000 (5%)</span>
    </p>
    <p>
      TOKEN FAIR LAUNCH ON PANCAKE SWAP AVAILABLE : <span class="right">950,000,000 (95%)</span>
    </p>
  </div>
  <div class="col right-col">
    <p>
      MIN./MAX. HOLDING 1.5 % OF SUPPLY (15 000 000)
    </p>
    <p>
      LIQUIDITY LOCKED FOR 6 MONTHS
    </p>
    <p>
      10% BNB REWARDS 3% to LP WHEN BUYING (13% slippage)
    </p>
    <p>
      12% BNB REWARDS 3.6% LP WHEN SELLING (15.6% slippage)
    </p>
  </div>
</section>
