@import 'mixins';

.dark_mode .banner {
  background-image: image-url('starry_background.jpg');
  .banner_flair{
    display:block;
    position:absolute;
    bottom: 6vh;
    right:2vw;
    width: 60%;
    z-index:1
  }
}
.light_mode .banner {
  background-image: image-url('anime_main.jpeg');
  .banner_flair{
    display:none;
  }
}
.dark_mode{
  .h1, p, .h2, .card ul, h3{
    color:white;
  }
  .highlight{
    color:$blue;
  }
  .back{
    background-color: $dark_blue;
  }
  nav{
    color: white;
    a,a:visited{
      color: white;
    }
  }
  #video_gallery{
    background-image: image-url('starry_background_02.jpg');
    @media screen and (max-width: $medium){
      .text-block{
        background-color: #000000b8;
      }
    }
  }
  .popup{
    background-color: #111111d1;
    &:before{
      border-bottom: 22px solid #111111d1;
    }
    &:after{
      border-top: 22px solid #111111d1;
    }
  }
  .button{
    background-color: $blue;
    &.secondary{
      color: $blue;
      &:hover{
        border:1px solid $blue;
        color: $blue;
      }
    }
    &:hover{
      color: $blue;
    }
  }
  .social_link {
    &:hover svg{
      fill: $blue;
    }
    svg{
      fill: $light_grey;
    }
  }
  .profile_widget .profile_menu li:hover:not(.list_header){
    background-color: $blue;
  }
  section {
    &:nth-of-type(even){
      background-color: #1d1d1d;
    }
    &:nth-of-type(odd){
      background-color: #101010;
    }
    hr{
      border-top:1px solid $blue;
    }
    .col{
      color: #c3c3c3;
      .completed{
        color:$blue;
      }
    }
    h2{
      color:white;
    }
  }
}

.light_mode{
  .h1, p, .h2, .card ul, h3{
    color:black;
  }
  .back{
    background-color: $orange;
  }
  .highlight{
    color:$orange;
  }
  nav{
    color: black;
    a,a:visited{
      color: black;
    }
  }
  #team h3{
    color:white;
  }
  #video_gallery{
    background-image: image-url('cloudy_sky.jpg');
    @media screen and (max-width: $medium){
      .text-block{
        background-color: #ffffffc7;
      }
    }
  }
  .popup{
    background-color:white;
    &:before{
      border-bottom: 22px solid white;
    }
    &:after{
      border-top: 22px solid white;
    }
  }
  .button{
    background-color: $pink;
    &.secondary{
      color: $pink;
      &:hover{
        border:1px solid $pink;
        color: $pink;
      }
    }
    &:hover{
      color: $pink;
    }
  }
  .social_link {
    &:hover svg{
      fill: $orange;
    }
    svg{
      fill: #313131;
    }
  }
  .profile_widget .profile_menu li:hover:not(.list_header){
    background-color: #f9dbd9;
  }
  section {
    &:last-child(even){
      background-color: white;
    }
    &:last-child{
      background-color: $orange
    }
    hr{
      border-top:1px solid $pink;
    }
    .col{
      color: black;
      .completed{
        color:$orange;
      }
    }
    h2{
      color:black;
    }
  }
}

#alert_container p{
  color:black;
}
