@import 'mixins';

nav{
  position: absolute;
  width: 100%;
  justify-content: flex-end;
  text-align: right;
  display: flex;
  padding: 10px 30px;
  a, a:visited{
    text-decoration: none;
    font-weight:100;
    font-size: 1rem;
    transition: all 0.2s ease;
    text-align:center;
    &:hover{
      font-size: 1.4rem;
      font-weight:900;
      transition: all 0.2s ease;
    }
  }
  ul{
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
}

.social_link{
  display: block;
  width: 30px;
  height: 30px;
  &:hover svg{
    transition: all 0.5s ease;
  }
  svg{
    transition: all 0.5s ease;
  }
}
.header_social_bar{
  padding: 10px 80px;
  left:0px;
  bottom:0px;
  margin:0px auto;
  margin-bottom: -50px;
  z-index: 9001;
  width: 100%;
  position: fixed;
  top: auto;
  margin: 0px;
  display: flex;
  flex-direction: column;
  .h1{
    font-size:1.5rem;
    line-height: 1.3;
    text-transform:uppercase;
    margin:0px;
    text-align:center;
  }
  .social_icons{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-left: 10px;
  }
  .social_link {
    position:relative;
    svg{
      &.flag{
        width: 20px;
        position: absolute;
        z-index: 9001;
        height: 20px;
        bottom: -7px;
        right: -6px;
      }
    }
  }
}

.profile_widget{
  display:none;
}

@media screen and (min-width: $medium){
  .header_social_bar{
    bottom: 20px;
    top: auto;
    left: 4vw;
    width: 420px;
    flex-direction: row;
    height: 30px;
    margin: 0px;
    position:absolute;
    padding:0px;
    display: flex;
    flex-direction: row;
    .h1{
      text-align:center;
    }
    .social_icons{
      display: flex;
      justify-content: space-between;
      width: 48%;
      margin-left: 10px;
    }
  }
  nav ul{
    width: 50%;
  }

  .profile_widget{
    width: 86px;
    position: absolute;
    bottom: 2%;
    right: 1%;
    display:block;
    #myLink:hover{
      cursor:pointer;
    }
    .avatar{
      width: 100%;
      display: block;
      margin: 0px;
    }
    ul{
      margin: 0px;
      padding: 0px;
    }
    .profile_menu{
      position: absolute;
      width: 200px;
      left: -110px;
      background-color: white;
      bottom: 70px;
      padding: 10px;
      transition: height 0.5s ease;
      z-index:9001;
      &.hidden{
        height: 0px;
        overflow: hidden;
        padding: 0px;
        transition: height 0.5s ease;
      }
      li{
        display:block;
        list-style-type: none;
        &:hover:not(.list_header){
          background-color:#f9dbd9;
        }
        a, a:visited{
          text-decoration:none;
          color:black;
          &:hover{
            border_bottom:1px solid black;
          }
        }
        &.list_header{
          display: block;
          font-size: 1.4rem;
          text-transform: uppercase;
          letter-spacing: 2px;
        }
        &:not(.list_header){
              padding: 5.6px 20px;
        }
        .wallet{
          font-size: 1.7rem;
        }
      }
    }
  }

}

$back-width:30px;
$back-height:$back-width/2.5;
$front-height: $back-height;
$border: $back-width/30;
$time-transition: 100ms;

#view_mode{
  position:relative;
  transform: rotate(270deg);
  .on-off{
    display: flex;
    justify-content: center;
    align-items: center;
    width:$back-width+2*$border;
    height:$front-height+2*$border;
    line-height:$front-height;
    vertical-align: middle;
    position:absolute;
    top:0px;
    right:0px;
  }

  .back{
    width:$back-width;
    height:$back-height;
    border:$border solid white;
    position: absolute;
    border-radius: $back-height;
    transition: background-color $time-transition linear;
  }

  .back2{
    width:$back-width+30;
    height:$back-height+30;
    background-color: grey;
    position: absolute;
    opacity:0.1;
    top:10px;
    left:10px;
    border-radius: $back-height;
    transition: background-color $time-transition linear;
  }

  .front{
    width:$front-height;
    height:$front-height;
    border: $border solid white;
    border-radius: $front-height;
    position:absolute;
    left: 0;
    background-color:lightgrey;
    transition: left $time-transition ease-in-out, right $time-transition ease-in-out;
  }

  .front:hover{
    cursor: pointer;
  }

  .text{
    color:blue;
    position:absolute;
    padding:$back-height*0.4;
    font-size: $back-height*0.4;
  }

}
